.logo {
  display: flex;
  width: 100%;
  justify-content: center;
}

#logo {
  display: flex;
  width: 150px;
}
.topnav {

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px;
  list-style-type: none;

}
.navList {
    display:flex;
    justify-content: space-around;
}

li a {
  display: flex;
  justify-content: space-around;
}

.prodDropdown:hover {
    background-color: red;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
}

.dropdown-content:hover{
    background-color: #f1f1f1;
    list-style-type: none;
}
.prodDropdown:hover .dropdown-content{
    display:block;
    list-style-type: none;
}


.searchbar {
  display: flex;
  justify-content: center;
}

.mainContainer {
  display: grid;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: space-around;
}
#resultsList {
  list-style: none;
}

#filterOptions {
  /*Got this from ChatGPT. It hides the filter options, which will only be displayed by the click event-Mike D*/
  display: none;
}

.sausage {
  width: 40%;
  display: flex;
  padding: 5px;
  border-radius: 20px;
}